div.myLogs {
  margin: 10px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;

  overflow-y: auto;
  word-wrap: break-word;

  height: 400px;
  max-height: 400px;
  min-height: 400px;

  width: 98%;
  max-width: 98%;
  min-width: 98%;

  text-align: left;
  position: relative;

  background-color: black;
}
